.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-youtube {
  color: #ff0000;
}

.counter-container {
}
