:root {
  --blur-amount: 30px;
}

.bg {
  background: url("gojo.jpg") no-repeat top center/cover;
  position: fixed;
  inset: 0;
  filter: blur(var(--blur-amount));
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}
